<!DOCTYPE html>
<html>
<head>
	<title>Create New Reservation</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" /> 
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
</head>

<body>
	<nav class="navbar navbar-inverse margin-button">
		<a href="../index.html" class="glyphicon glyphicon-chevron-left"></a>
		<div class="container-fluid">

			<h1>Vindhu</h1>
			<h5>Authentic Andhra Food</h5>

			

			<div class="navbar-header">				
				<span><a href="new.html">Create New Reservation</a></span>
				<span><a href="view.html">View Reservation</a></span>
				<span><a href="edit-cancel.html">Edit/Cancel Reservation</a></span>
			</div>
    	</div>  
		
	</nav>
	<div class="jumbotron body">
		<div class="container colored border">
			<div class="row">
				
				<div class="col-md-4 col-sm-8 col-xs-8">
			      
			       <form id="cust-info" class="form-horizontal" role="form">
			  			<div class="form-group">
			            	<label for="name">NAME</label>
			            	<input type="text" class="form-control" placeholder="Name" required="required">
			        	</div>
			        	<div class="form-group">
			    			<label for="custEmail">EMAIL</label>
			    			<input type="email" class="form-control" placeholder="Email">
			  			</div>
			        	<div class="form-group">
			            	<label for="contact">CONTACT</label>
			            	<input type=tel class="form-control" placeholder="Phone Number" size=10>
			        	</div>
			        	<div class="form-group">
			            	<label for="date">DATE and TIME</label>
			            	<input type="datetime-local" class="form-control">
			        	</div>
			        	<div class="form-group">
			            	<label for="ppl">PARTY SIZE</label>
			           		 <select>
			                	<option value="1">1</option>
			                	<option value="2">2</option>
			                	<option value="3">3</option>
			                	<option value="4">4</option>
			                	<option value="5">5</option>
			                	<option value="6">6</option>
			                	<option value="7">7</option>
			                	<option value="8">8</option>
			                	<option value="9">9</option>
			                	<option value="10">10</option>
			                	<option value="11">11</option>
			                	<option value="12">12</option>
			           		 </select>
			        	</div>

			        	<button type="submit" class="btn btn-default" data-toggle="modal" data-target="#submit-msg">Submit</button>	
			        	<div class="modal fade" id="submit-msg" role="dialog">
			        		<div class="modal-dialog">
			        			<div class="modal-content">
			        				<div class="modal-header">
			        					<button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thank you for choosing us!</h4>
			        				</div>
			        				<div id="confirmation" class="modal-body">
			        					Your confirmation Number is: ABC1234
			        				</div>
			        				<div class="modal-footer">
          								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        							</div>
			        			</div>
			        		</div>
			        	</div>
					</form>
				</div>
                 <div class="col-md-4  col-sm-4 col-xs-8 ">
				 
				 </div>
				 <div class="col-md-4  col-sm-4 col-xs-8">
				 
				 </div>
				 
				<div class="col-md-10 col-sm-4 col-xs-8">
							
				<p> </p>
				</div>
			</div>

	</div>
</div>
</div>



	<div class="footer" align="center">
			<div>
				<a href="#"> Home </a>
				|<a href="#"> Contact</a> 
				|<a href="#"> About Us</a> 
				|<a href="templates/new.html"> Reservations</a>
			</div>
			Copyright © vindhu.com
	</div>
	

</body>
</html>