/*New CSS*/
.container-fluid{
	text-align: center;
}
}
h1, p{
	text-align: center;
	color: #ffffff;
}
li{
	color:#000000;
}
a{
	color:#ffffff;
	display: inline;
}
.glyphicon{
	font-size: 18pt;
	margin:10px;
}
.form-group{
	text-align:left;
	margin:10px;
}
span{
	padding:2px;
	background-color: #A5DF00;
	color:#000000;
	border-radius:10px;
	border:solid #000000;
	line-height: 2;
	display: inline-block;
	float:left;
}
#cust-info{
	text-align: left;
	margin:10px;
}
.img-responsive{
	height:150px;
	width:250px;
	background:transparent;
}
.body{
	background-image: url("img/banana.jpg");
    color:#000000;
    font-family: “courier new, times new roman, times, papyrus, utopia, georgia”; 
    text-align: center;
}
#owner-login{
	background-color: #FF0040;
	color:#ffffff;
	border-radius:10px;
	float:right;
}

.navbar-header, .margin-button{
	background-color: #298A08;
	color:white;
	margin-bottom: 0px;
}
.colored{ 
	background-color:#298A08;
}
.panel{
	background-color: #A5DF00;
	color:#ffffff;
}
.border{
	border-style:solid;
	border-width:8px;
	border-color: white;
	box-shadow:-10;
}
.img {
    float: left;
    margin: 30px 200px 30px 10px;
	z-index: -12px; 
}


.margin2{
	margin-bottom:0px;
}
p{
	color:#ffffff;
	font-size: 2pt;
}
.info{
	position: relative;
	background-image: url("img/banana.jpg");
	background-color:#298A08;
	color:#000000;
	margin:0;
 }
.footer{
	color:#000000;
	width:100%;
    height:80px;
    background-color:#298A08;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}